# 6.1 读写文本格式的数据

In [1]:
%%html
<img src="picture/表6-1 pandas中的解析函数.png", width=600>

In [2]:
import numpy as np
import pandas as pd

In [3]:
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
# pd.read_table('examples/ex1.csv')

pd.read_table('examples/ex1.csv', sep=',')  # 指定分隔符

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
# 并不是所有文件都有标题行

!type examples\ex2.csv

# 解决方案
# 1. 让 pandas 为其分配默认的列名
# 2. 自己定义列名

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
# 文件没有【标题行】
# 分配【默认】列名

pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [10]:
pd.read_csv('examples/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [13]:
# 【自定义】列名

pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
# 希望将message列做为DataFrame的索引

names = ['a', 'b', 'c', 'd', 'message']

pd.read_csv('examples/ex2.csv', names=names, index_col='message')

# pd.read_csv('examples/ex2.csv', names=names)

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [15]:
# 传入由列编号或列名组成的列表：将多个列做成层次化索引

!type examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [16]:
# 将多个列做成一个层次化索引

parsed = pd.read_csv('examples/csv_mindex.csv',
                    index_col=['key1', 'key2'])

In [26]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [17]:
# 有些情况下，有些表格可能不是用固定的分隔符去分隔字段的
# 此时，可以传递一个【正则表达式】作为read_table的分隔符

list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [5]:
!type "examples\ex3.txt"

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [19]:
pd.read_csv('examples/ex3.txt')

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [6]:
# 由于列名比数据行的数量少，所以 read_csv 推断第一列应该是 DataFrame 索引

result = pd.read_csv('examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [7]:
# 这些解析器函数还有许多参数可以处理各种各样的异形文件格式，
# 比如，skiprows：跳过文件的第一行、第三行和第四行

!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
pd.read_csv("examples\ex4.csv")

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [11]:
# skiprows: 跳过 0，2，3 行

pd.read_csv("examples\ex4.csv", skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [17]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [18]:
pd.read_csv("examples\ex5.csv")

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [19]:
# 缺失值处理

result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [45]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [20]:
# na_values(): 用一个列表或集合的字符串表示缺失值

pd.read_csv('examples/ex5.csv', na_values=['NULL'])

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [21]:
# 字典的各列可以使用不同的NA标记值

sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [22]:
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [25]:
%%html
<img src="picture\表6-2 read_csv、read_table函数的参数.png", width = 500>
<img src="picture\表6-2 read_csv、read_table函数的参数(2).png", width = 500>
<img src="picture\表6-2 read_csv、read_table函数的参数(3).png", width = 500>

## 6.1.1 逐块读取文本文件

In [26]:
import numpy as np
import pandas as pd

In [29]:
# 设置 pandas 以显示得更紧些

pd.options.display.max_rows = 10  # 显示 10 行

In [30]:
pd.read_csv('examples/ex6.csv')

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [31]:
# 只想读取几行

pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [34]:
# 【逐块】读取文件
# chunksize: 行数

chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

In [35]:
# read_csv 所返回的 TextParser 对象可以根据 chunksize 对文件进行逐块迭代
# 迭代处理ex6.csv，将值计数聚合到"key"列中

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.sort_values(ascending=False)

In [36]:
tot[ : 10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [37]:
# TextParser 还有一个 get_chunk 方法，可以读取任意大小的块

# 6.1.2 将数据写出到文本格式

In [38]:
import numpy as np
import pandas as pd

In [39]:
# 将数据保存为分隔符格式的文本

data = pd.read_csv('examples/ex5.csv')

In [51]:
!type "examples\ex5.csv"

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [40]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [41]:
# df.to_csv(): 保存文件；将数据写到一个以逗号分隔的文件中

data.to_csv('out.csv')

In [43]:
!type out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [47]:
# 使用其它分隔符
# 此时只打印出文本结果
# 【缺失值】在输出结果中会被表示为空字符串

import sys

# 直接写出到 sys.stdout
# data.to_csv(sys.stdout, sep='|')
data.to_csv("out2.csv", sep='|')

In [48]:
!type "out2.csv"

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [50]:
# na_rep: 将【缺失值】表示为其它标记值

data.to_csv(sys.stdout, na_rep='空')

,something,a,b,c,d,message
0,one,1,2,3.0,4,空
1,two,5,6,空,8,world
2,three,9,10,11.0,12,foo

In [52]:
# 禁用行、列标签

data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [53]:
# 只写出一部分列，并以指定的顺序排列

data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [55]:
# Series也有一个to_csv方法

datas = pd.date_range('1/1/2000', periods=7)
datas

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [56]:
ts = pd.Series(np.arange(7), index=datas)

In [58]:
ts.to_csv(sys.stdout)

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

d:\Users\liu59\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

# 6.1.3 处理分隔符格式

In [61]:
import numpy as np
import pandas as pd
import sys
import csv

In [62]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [68]:
# 对于任何单字符分隔符文件，可以直接用 Python 内置的 csv 模块。
# 将任意已打开的文件或文件型的对象传给 csv.reader

import csv

f = open('examples/ex7.csv')
reader = csv.reader(f)

In [69]:
# 对这个 reader 进行迭代，将会为每行产生一个元组（并移除了所有的引导）

for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [70]:
# 读取文件到一个多行的列表中

with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [71]:
# 将这些行分为【标题行】和【数据行】

header, values = lines[0], lines[1: ]

In [72]:
# 用字典构造式和zip(*values: 将行转置为列),创建数据列的字典

data_dict = {h: v for h, v in zip(header, zip(*values))}

In [73]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [75]:
# CSV 文件的形式有很多
# 只需定义csv.Dialect的一个子类，即可定义出新格式（如专门的分隔符、字符串引用约定、行结束符等）

# class my_dialect(csv.Dialect):
#     lineterminator = '\n'
#     delimiter = ','
#     quotechar = '"'
#     quoting = csv.QUOTE_MINIMAL
# reader = csv.reader(f, dialect=my_dialect)

In [31]:
# 各个CSV语支的参数也可以用关键字的形式提供给csv.reader

# reader = csv.reader(f, delimiter='|')

In [78]:
%%html
<img src="picture\表6-3 CSV语支选项.png", width = 500>

In [79]:
# csv.writer: 手工输出分隔符文件
# 授受已打开且可写的文件对象以及跟 csv.reader 相同的那些语支和格式化选项

with open("mydata.csv", 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(("one", "two", "three"))
    writer.writerow(("1", "2", "3"))
    writer.writerow(("4", "5", "6"))
    writer.writerow(("7", "8", "9"))

In [80]:
!type "mydata.csv"

one,two,three
1,2,3
4,5,6
7,8,9

## 6.1.4 JSON数据

In [81]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [82]:
import json
import pandas as pd

In [84]:
# json.loads(): 将JSON字符串转换成Python形式

result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [86]:
# json.dumps(): 将Python对象转换成JSON格式

asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [87]:
# JSON --> DataFrame
# 向DataFrame构造器传入一个字典的列表（就是原先的JSON对象），并选取数据字段的对象

siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [88]:
# pandas.read_json(): 可以自动将特别格式的JSON数据集转换成Series或DataFrame

!type examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [89]:
# pandas.read_json(): 默认选项假设JSON数组中的每个对象是表格中的一行

data = pd.read_json('examples/example.json')

In [90]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [91]:
# 将数据从pandas输入到JSON,可使用to_json()方法

print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [92]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

## 6.1.5 XML和HTML:Web信息收集

In [93]:
import pandas as pd

In [95]:
# pandas.read_html(): 可以使用lxml和BeautifulSouop自动将HTML文件中的表格解析为DataFrame对象

tables = pd.read_html('examples/fdic_failed_bank_list.html')

In [96]:
len(tables)

1

In [97]:
failures = tables[0]

In [98]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [99]:
# 数据清洗与分析
# 按计算按年份倒闭的银行数

close_timestamps = pd.to_datetime(failures['Closing Date'])

In [100]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

## 6.1.6 利用lxml.objectify解析XML

In [101]:
from lxml import objectify

In [102]:
path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [103]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [104]:
perf = pd.DataFrame(data)

In [105]:
perf.head()

,AGENCY_NAME,CATEGORY,DESCRIPTION,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95,95,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,96.9,95,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,98.3,95,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,M,On-Time Performance (West of Hudson),%,95.8,95,5,2008,96.6,95

In [106]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [107]:
root

In [108]:
root.get('href')

'http://www.google.com'

In [109]:
root.text

'Google'

# 6.2 二进制数据格式

In [110]:
import pickle
import pandas as pd

In [112]:
# Python 内置的 pickle 序列化：实现数据的高效二进制格式存储的最简单的方法之一
# .to_pickle()方法：用于将数据以pickle格式保存到磁盘上

frame = pd.read_csv('examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [113]:
frame.to_pickle('frame_pickle')

In [116]:
# pandas.read_pickle():读取被 pickle 的数据

pd.read_pickle('frame_pickle')

# 也可通过 pickle 直接读取被 pickle 化的数据

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 6.2.1 使用HDF5格式

In [134]:
import pandas as pd
import numpy as np

In [135]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [136]:
store = pd.HDFStore('mydata.h5')

In [137]:
store['obj1'] = frame

In [138]:
store['obj1_col'] = frame['a']

In [139]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [140]:
store['obj1']
# store['obj1'].head()

           a
0  -0.818017
1   0.400041
2   0.158168
3   0.034000
4  -0.107159
..       ...
95  0.652846
96  0.547983
97  1.859035
98 -2.640377
99 -0.357368

[100 rows x 1 columns]

In [141]:
# HDPStore支持两个存储模式: fixed or table
# table: 通常会更慢，但是支持使用特殊语法进行查询操作
# put 是 store['obj2'] = frame 的显示版本，允许设置其它的选项

store.put('obj2', frame, format='table')

In [142]:
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  0.343615
11  0.493768
12 -1.040445
13  0.601520
14 -0.447417
15 -1.401148

In [143]:
store.close()

In [144]:
# pandas.read_hdf(): 可以快捷使用这些工具

frame.to_hdf('mydata.h5', 'obj3', format='table')

In [145]:
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -0.818017
1  0.400041
2  0.158168
3  0.034000
4 -0.107159

## 6.2.2 读取Microsoft Excel文件

In [146]:
import pandas as pd
import numpy as np

In [147]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [149]:
# pandas.read_excel():将存储在表单中的数据读取到DataFrame

pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [151]:
# 另一种方法

frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [152]:
# .to_excel()方法：将pandas数据写入Excel

writer = pd.ExcelWriter('ex2.xlsx')

In [154]:
frame.to_excel(writer, 'Sheet2')

In [155]:
writer.save()

In [157]:
# 更为简洁的方法

frame.to_excel('ex2.xlsx')

# 6.3 Web APIs交互